#modal1.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/crossbits.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') CROSSBITS
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") INTRODUCTION
              p.modal_paragraph(style="") The crossword will be based on basic knowledge of software, hardware, IT buzzwords, acronyms, abbreviations, recent technological developments, eminent personalities, IT Companies etc. Solving the crossword will require out of the box thinking. Solving the crossword will require out of the box thinking. 
              
              h2.modal_heading(style="") EVENT STRUCTURE
              p.modal_heading(style="")  modal_paragraph(style="") The event will take place in two rounds:
              
              h2.modal_heading(style="") First Round:
              p.modal_paragraph(style="") It will be a written round. A crossword will be provided to the participants which has to be filled in a span of one hour. 
              
              h2.modal_heading(style="")  Second Round:
              p.modal_paragraph(style="") This round will be held on stage. A crossword will be displayed on the screen and the round will progress in a quiz format.
              
              h2.modal_heading(style="") Rules:
              p.modal_paragraph(style="") • Skills Required: Basic knowledge of software, hardware, IT buzzwords, acronyms, abbreviations, recent technological developments, eminent personalities, IT Companies etc. 
              p.modal_paragraph(style="") • The decision of Event Coordinator would be final and binding .At any time the rules may be changed with the discretion of event Coordinator.
              p.modal_paragraph(style="") • Use of cell phones, laptops or any other e-device resulting into unfairful means would result into permanent derbar from event.
              
              hmodal_heading(style="")  2.modal_heading(style="") Coordinator:
              p.modal_heading(style="") Ayush Kesarwani-8802090958
      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal2.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/quest.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') QUEST
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px; align:center;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Introduction:
              p.modal_paragraph(style="") The quiz will be related to Software, Hardware, IT buzzwords, Acronyms, Abbreviations, recent technological developments, Eminent personalities, IT companies etc.
              
              h2.modal_heading(style="") EVENT STRUCTURE-
              p.modal_paragraph(style="") The event would consist of two rounds:-
              
              h2.modal_heading(style="") First round: 
              p.modal_paragraph(style="") It will be a written round consisting of 30 questions. The questions will be displayed on a projector. 
              p.modal_paragraph(style="") Time allotted for the same will be 1 hour. Top 6 teams will directly qualify for the finals. 
              h2.modal_heading(style="") Second round: 
              p.modal_paragraph(style="") This round will be held on stage.
              
              h2.modal_heading(style="")  Rules: 
              p.modal_paragraph(style="")  • Skills Required: Basic knowledge of software, hardware, IT buzzwords, acronyms, abbreviations, recent technological developments, eminent personalities, IT Companies etc. 
              p.modal_paragraph(style="")  • The decision of Event Coordinator would be final and binding .At any time the rules may be changed with the discretion of event Coordinator.
              p.modal_paragraph(style="")  • Use of cell phones, laptops or any other e-device resulting into unfairful means would result into permanent derbar from event
              
              h2.modal_heading(style="")  Coordinator:
              p.modal_paragraph(style="")  Ayush Kesarwani-8802090958

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal3.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/point_blank.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') POINT BLANK
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;') 
              h2.modal_heading(style="")  Introduction:
              p.modal_paragraph(style="") Grab this great opportunity to test your soft Skills in the virtual GD simulation. Strengthen your weaker points and make yourself placement ready! 
              
              p.modal_paragraph(style="") Number of Participant(s): 5 (per round ; depends upon no of entries)
              
              p.modal_paragraph(style="") Time Alloted: 2 mins + 5 mins per round
              
              h2.modal_heading(style="") The topic for the GD will be disclosed on the spot. 
              p.modal_paragraph(style="") • The first 2 mins are meant for exploring the topic and quoting points on the paper provided. 
              p.modal_paragraph(style="") • Next the GD session begins which will take place after within the mentioned time limit.
            
              h2.modal_heading(style="") Participants will be judged on various parameters such as :
              p.modal_paragraph(style="") 1. Interactive skills
              p.modal_paragraph(style="") 2. Leadership skills  
              p.modal_paragraph(style="") 3. Flexibility
              p.modal_paragraph(style="") 4. Creativity  
              p.modal_paragraph(style="") 5. Initiation
              p.modal_paragraph(style="") 6. Awareness  
              p.modal_paragraph(style="") 7. Confidence
              
              h3.modal_heading(style="") EVENT STRUCTURE-
              p.modal_paragraph(style="") • Participant/s will be selected for the final round which will be held on stage and will be witnessed live on social media on Metacog’s Fb page.
              p.modal_paragraph(style="") • This activity would fullfil as a  virtual GD round as practiced in an actual GD and will help students gain confidence before sitting in an real one. 
              p.modal_paragraph(style="") • The decision of judge would be final and binding .At any time the rules may be changed with the discretion of event Coordinator.
              p.modal_paragraph(style="") • Use of cell phones, laptops or any other e-device resulting into unfairful means would result into permanent derbar from Event.
              
              h2.modal_heading(style="") Event Coordinator:
              p.modal_paragraph(style="") Ayush Kesarwani-8802090958
      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal4.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/pandora_box.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Pandora Box
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Introduction:
              p.modal_paragraph(style="") This event is all about exploration and innovation. This would require knowledge of using a variety of software. Using any anonymous software, you will be required to fulfil a task within the time limit. The idea with best creativity and which fulfil the objectives will win. 

              h2.modal_heading(style="")  Description/Rules:
              p.modal_paragraph(style="") Number of Participant(s): minimum 2
              p.modal_paragraph(style="") Time Allotted: 30 minutes(for exploration) + 1 hour 30 minutes(for doing the task)
              p.modal_paragraph(style="") • The application/software to be used will be disclosed on the spot. 
              p.modal_paragraph(style="") • The first half an hour is to be used for exploring the application/ software. 
              p.modal_paragraph(style="") • A task will be given to the teams related to that application/ software on the spot, which they will have to finish within the given time limit. 
              p.modal_paragraph(style="") • The decision of Event Coordinator would be final and binding .At any time the rules may be changed with the discretion of event Coordinator.
              p.modal_paragraph(style="") • Use of cell phones, laptops or any other e-devices are not allowed during the event. Use of any of these stuffs will result into permanent disqualification.

              h2.modal_heading(style="")  Coordinator:
              p.modal_paragraph(style="") Ayush Kesarwani-8802090958
 

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal5.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/8-ball pool.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') 8 Ball-Pool
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") INTRODUCTION-
              p.modal_paragraph(style="") Eight-ball is a game of a cue sticks and 16 balls. The ultimate object of the game is to legally pocket the eight ball in a called pocket, which can only be done after all of the balls from a player's assigned group have been cleared from table.
              
              h2.modal_heading(style="") Event structure-
              p.modal_paragraph(style="") A cue ball, and 15 object balls consisting of seven striped balls, seven solid-colored balls and the black 8 ball. After the balls are scattered with a break shot, the players are assigned either the group of solid balls or the stripes once a ball from a particular group is legally pocketed.
              
              h2.modal_heading(style="") Rules-
              p.modal_paragraph(style="")  • No mod, Pro-pack or cracked application is allowed. Your current game in the phone will be uninstalled and game provided by us will be installed there only before starting of the game.
              p.modal_paragraph(style="")  • There will be no rematch for the player whose device crashes or by any reason he exits from the match
              p.modal_paragraph(style="")  • The Organiser has the right to disqualify any registered player from the tournament for any valid reason.
              p.modal_paragraph(style="")  • Your phone should be fully charged.
              p.modal_paragraph(style="")  • Everyone should coordinate with the coordinators
              p.modal_paragraph(style="")  • Judges decision will be treated as final.
              p.modal_paragraph(style="")  • Rules can be changed by event coordinators.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal6.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/blind_coding.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Blind Coding
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Event Specification
              p.modal_paragraph(style="") 1) This is an Individual Event.
              p.modal_paragraph(style="") 2) Judge's descision would be final.
              p.modal_paragraph(style="") 3) This event consists of two rounds.
              p.modal_paragraph(style="") 4) In Round-1 program code with errors of medium complexity will be given.
              p.modal_paragraph(style="") 5) In Round-2 program statement of medium complexity will be given.
              p.modal_paragraph(style="") 6) Participants have to write code with monitors off

              h2.modal_heading(style="") Rules
              p.modal_paragraph(style="") 1) Each participant has to write the code for the problem statement, with MONITOR OFF.
              p.modal_paragraph(style="") 2) Participants whose code gets executed will be given higher preference.
              p.modal_paragraph(style="") 3) The second preference will be given to code with least number of errors
              p.modal_paragraph(style="") 4) In case of tie in number of errors then timing will be considered.
              p.modal_paragraph(style="") 5) Shortlisted participants of Round I will appear for Round II for which above rules will be applicable.

              h2.modal_heading(style="") Round 1:
              p.modal_paragraph(style="") A simple code with syntax error will be given on paper.
              p.modal_paragraph(style="") Participants have to correct the errors on paper and type the code with MONITOR SWITCHED OFF.
              p.modal_paragraph(style="") Ten minutes will be given to type and correct the code.
              p.modal_paragraph(style="") Based on the results of first round the participants will be selected for second round.
              h2.modal_heading(style="") Round 2:
              p.modal_paragraph(style="") Only problem statement will be provided.
              p.modal_paragraph(style="") Participants need to type the code in TURBO C with MONITORS SWITCHED OFF.
              p.modal_paragraph(style="") Twenty minutes will be given to each participant.
              p.modal_paragraph(style="") Winners will be announced based on the results of compilation and execution.
              
              h2.modal_heading(style="") In case of a TIE:
              p.modal_paragraph(style="") TIE breaking problem statement will be given and time will be monitored
      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal7.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/building_blocks.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Building Blocks
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  INTRODUCTION:- 
              p.modal_paragraph(style="")  Necessity is the invention of mother. Artists and designers around the world have found all kinds of creative ways to give discarded and existing material new life. To demonstrate just how many new ways there are to build a structure we have to put together a list of 6 really awesome building material scrap.
              
              h2.modal_heading(style="")  DESCRIPTION:- 
              p.modal_paragraph(style="")  The participants will be having a time slot of 2 minutes to build a building from the material given. The participants having the tallest building at the end of the game will win. Two members per team could put their efforts in the event.
              
              h2.modal_heading(style="")  RULES:-
              p.modal_paragraph(style="") • Time limit will be 2 minutes.
              p.modal_paragraph(style="") • Only 1 attempt will be given to the candidate if the building falls .
              p.modal_paragraph(style="") • Decision made by judges will be treated as will be final.
              p.modal_paragraph(style="") • No extra material will be provided.
              p.modal_paragraph(style="") • The one with tallest structure will win.
              p.modal_paragraph(style="") • Any use of external force will result in the disqualification of candidate.
              p.modal_paragraph(style="") • Violation of the above rules will result in the immediate disqualification of the candidate.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal8.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/coin_to_destination.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Coin to destination
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Introduction:
              p.modal_paragraph(style="")  Every aim seems impossible without concentration and technique. No matter how many obstacles come your way, overcoming them would be easier if we choose the right direction so come put all your focus and skills together to help the coin reach its destination.
              
              h2.modal_heading(style="")  Description:
              p.modal_paragraph(style="")  The participants will have to drop the given coin in such a way that the coin faces within the circumference of the ring placed at the bottom of a vessel full of water by your own capability without getting in touch with water.
              
              h2.modal_heading(style="")  Rules:
              p.modal_paragraph(style="")  1) Maximum 3 attempts will be given to the participant.
              p.modal_paragraph(style="")  2) Decision made by the coordinated will be treated as final.
              p.modal_paragraph(style="")  3) You cannot touch the vessel and so with water.
              p.modal_paragraph(style="")  4) No obstruction should be caused to the setup made for the event.
              p.modal_paragraph(style="")  5) The participants will be disqualified if any of the above rules are violated.
      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal9.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/drone.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Drone
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Intro-
              p.modal_paragraph(style="")  The industry is exploding with model aircraft, and multi-rotors are no exception. These fascinating drone combine the flight characteristics of both a plane and a helicopter. Amaze the audience with your drones and make this competition a great success with your performances. 
              
              h2.modal_heading(style="")  Event structure-
              p.modal_paragraph(style="")  It is a two round event in which judgement would be based on both your performance and time taken.
              
              p.modal_heading(style="")  First round will be only to check your flight capabilities in which you have to land and take-offs your drone multiple times in the structure of landing points provided. 
              p.modal_paragraph(style="")  Second round is racing cum manoeuvre round, arena will be provided in with you have to perform under given consideration and rules. The one who perform best and took the least time will be selected as the winner.  
              
              h2.modal_heading(style="")  Rules
              p.modal_paragraph(style="") • You should not lift the bot to improve your position.
              p.modal_paragraph(style="") • Any failed attempt at landing (touch to the ground), which do not get you a point will lead to the end of the round.
              p.modal_paragraph(style="") • RTF models will not be allowed.
              p.modal_paragraph(style="") • A team can use only one model throughout the event in all the rounds.
              p.modal_paragraph(style="") • The organisers reserve all rights to change any or all of the above rules.
              p.modal_paragraph(style="") • Each team must have its own model. Exchanging of models is not allowed.
              p.modal_paragraph(style="") • Each team can have a maximum of 6 participants.
              p.modal_paragraph(style="") • The maximum dimension between any two motor shafts of the vehicle should be lesser than 50 cm and greater than 25cm.
              p.modal_paragraph(style="") • You should bring your own tool kit and chargers, organizers are not bound to provide you to such.
              p.modal_paragraph(style="") • Power sockets may or may not be provided. 

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal10.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/e-surfing.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') E-Surfing
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  INTRODUCTION  
              p.modal_paragraph(style="")  Participants have to surf the web literally, but here not as always, this event requires your skills in searching tings over internet, from one to all you have your source and need to give the result by it, the best one will get to the top.  
              
              h2.modal_heading(style="")  EVENT DESCRIPTION-
              p.modal_paragraph(style="")  In this event you are getting a chance to get something out of the one you are addicted to, internet. A day without became horrible. Generally we do not get much out of it but now we are providing you a chance to get rewards out of your so called skills, just surf and get,
              
              h2.modal_heading(style="")  It is a two round event-
              h2.modal_heading(style="")  Round 1:
              p.modal_paragraph(style="")  First round will be the elimination round. The participants will be given some queries and they are to find their answer by surfing it on the web.
              p.modal_paragraph(style="")  Elimination will be based on marks scored by each participant .Questions will be provided 
              p.modal_paragraph(style="")  on a sheet.
              h2.modal_heading(style="")  Round 2:
              p.modal_paragraph(style="")  Second round , the participants will have to buy different items from an online shopping store, within a fixed amount decided by the coordinators.
              p.modal_paragraph(style="")  No item is to be repeated twice.
              
              h2.modal_heading(style="")  RULES-
              p.modal_paragraph(style="") • Single participant is allowed.
              p.modal_paragraph(style="") • In case any discrepancy the decision of the event organiser will be final.
              p.modal_paragraph(style="") • Rules can be changed by the event organizers.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal11.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/line_follower.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Line Follower
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;') 
              h2.modal_heading(style="")  Introduction
              p.modal_paragraph(style="")  What was magic yesterday is called technology today. This event is all about an autonomous bot built by participants, judged on its ability to perform usual tasks. It tests level of precision in end to end intelligent use of sensors and coding.
              
              h2.modal_heading(style="")  Rules-
              p.modal_paragraph(style="")  ▸ Each team can have a maximum of 4 participants.
              p.modal_paragraph(style="")  ▸ No damage should be made by a bot to the arena or to other team’s bots during the match in any manner. 
              p.modal_paragraph(style="")  ▸ Bots should not be disassembled until the results are declared. 
              p.modal_paragraph(style="")  ▸ The organizers reserve the right to change the rules as they deem fit. 
              p.modal_paragraph(style="")  ▸ When a team is called for match, they must report within five minutes. 
              p.modal_paragraph(style="")  ▸ Judges decision will be final. 
              p.modal_paragraph(style="")  ▸ You can start the robot at the beginning of the trial and no human intervention is allowed thereafter. If human intervention is necessary, the ongoing trial will come to an end. Teams may go for another trial if they have sufficient time left. 
              p.modal_paragraph(style="")  ▸ The judges can ask for an explanation of any mechanism on the bot and there would be an immediate disqualification of defaulters of any kind.
              
              h2.modal_heading(style="")  Constraints-
              p.modal_paragraph(style="")  • Voltage in the bot does not exceed to 24 volts in overall circuit.
              p.modal_paragraph(style="")  • Bot must comprise within the dimensions of  30*30*20 cm (L*B*H).
              p.modal_paragraph(style="")  • You could be asked to submit the code you programmed in your bot prior to the match.
              p.modal_paragraph(style="")  • Bots will be checked before match any fault could lead to direct disqualification from the whole completion.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal12.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/minimiletia.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Mini Militia
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;') 
              h2.modal_heading(style="") Introduction -
              p.modal_paragraph(style="") Mini Militia is a local Gaming Tournament which is one of the most played Android Games in the Country. If you think you have mastered in Mini Militia and are capable of those headshots and can easily tackle the mini world of Mini militia then showcase your talent .
              
              h2.modal_heading(style="") EVENT DESCRIPTION –
              p.modal_paragraph(style="") Match length- 10 min.
              p.modal_paragraph(style="") Maps allowed- Catacomb, Outpost or No escape (any one)
              p.modal_paragraph(style="") Each round consisted of 10 minutes.
              p.modal_paragraph(style="") Top players would  proceed to the next round.

              h2.modal_heading(style="") Tournament Rules:
              p.modal_paragraph(style="") 1. No mod, Pro-pack or cracked apk is allowed. Your current game in the phone will be uninstalled and game provided by us will be installed on the spot.
              p.modal_paragraph(style="") 2. There will be no rematch for the players whose device crashes or by any reason he exits from the match.
              p.modal_paragraph(style="") 3.Map for the match will be decided by voting.
              p.modal_paragraph(style="") 4. The Organizer has the right to disqualify any registered player from the tournament for any valid reason.
              p.modal_paragraph(style="") 5. Your phone should be fully charged.
              p.modal_paragraph(style="") 6. Everyone should coordinate with the coordinators.
              p.modal_paragraph(style="") Match length- 10 min
              p.modal_paragraph(style="") Maps allowed- Catacomb, Outpost or No escape (any one)

              h2.modal_heading(style="") NAVEEN DUBEY
              p.modal_paragraph(style="") (9654239014)


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal13.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/roborace.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Roborace
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Introduction-
              p.modal_paragraph(style="")  How about a challenging race with your remote controlled vehicle? Taking sharp bends, zigzag curves on a rough road and jumping over planks, Who says it’s only the silver screen that can witness the Fast and Furious!?
              
              p.modal_paragraph(style="")  Gear up and start designing your childhood dream. Your very own Hot wheels!!
              p.modal_paragraph(style="")  A golden chance to see your own creation set fire to the track, experiencing the adrenaline as you watch it compete against others, win, lose and wreck. 
              
              p.modal_paragraph(style="")  Satisfied already!? Let’s fuel the excitement to another level. A handsome prize money waiting for the winning ‘Beauty on Wheels’.
              
              h2.modal_heading(style="")  Event structure-
              p.modal_paragraph(style="")  Round one will be performed to check the speed, manoeuvrability, dimensions and other factors provided. Selected participants on such would be qualified to perform in second round
              p.modal_paragraph(style="")  Second round is the time based race in which your performance will define your position in the event. Your bot should be able to run on different terrain conditions like mud, slope etc.
              
              h2.modal_heading(style="")  Rules
              p.modal_paragraph(style="")  • Use of any component or mechanism in the car that could damage the arena or any other participating car would lead to immediate disqualification of the team.
              p.modal_paragraph(style="")  • The coordinators reserve the rights to change any of the above rules as they deem fit.
              p.modal_paragraph(style="")  • Judge’s decision shall be treated as final and binding on all. 
              p.modal_paragraph(style="")  • Bot must be within the dimensions of 30*25*25 cm (L/B/H)
              p.modal_paragraph(style="")  • Voltage must not exceed 24 volts anywhere in the circuit.
              p.modal_paragraph(style="")  • Bot must not be dissembled before the announcement of result.
              p.modal_paragraph(style="")  • Each team can have a maximum of 4 participants.
              p.modal_paragraph(style="")  • You should not be allowed to touch the bot in arena otherwise a definite would be added on each touch. There would also be a max limit of touches to the bot after that your bot will directly disqualified from the event.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal14.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/robosoccer.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Robosoccer
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Introduction-
              p.modal_paragraph(style="")  This event is a platform for participants to showcase their robotics talents and also to bring alive the football spirit. They are required to build manually controlled bot capable of playing soccer on an arena specially designed for the robotic soccer match.
              
              h2.modal_heading(style="")  Event structure-
              p.modal_paragraph(style="")  It is a two round event , first round will be the direct disqualification as only your bot would be checked on the given criterion .
              p.modal_paragraph(style="")  Second round will be the direct completion with opponent and your performance will judge your position in the event. 
              
              h2.modal_heading(style="")  Rules –
              p.modal_paragraph(style="") • Number of participants in a team can be up to 4. 
              p.modal_paragraph(style="") • Each team must have a captain. The captain is the person responsible for communication with referees. Team is allowed to have only the fewest possible members beside the field during game play.
              p.modal_paragraph(style="") • Teams has to make their own robot. They can’t use other team’s robot.
              p.modal_paragraph(style="") • The bot must fit into a cube of (30x30x25)cm at all times. It may not expand at any time during the match beyond this size even for hitting the ball. Violating this clause will lead to immediate disqualification.
              p.modal_paragraph(style="") • The maximum potential difference between any two points on the bot should not exceed 24 volts.
              p.modal_paragraph(style="") • Grabbing the ball is not allowed. So bots should not have any kind of grabbing mechanisms.
              p.modal_paragraph(style="") • Robots that cause deliberate interference with other robots or damage to the field will be disqualified
              p.modal_paragraph(style="") • No harmful mechanism should be used, any violation should lead to direct disqualification.
              p.modal_paragraph(style="") • Bot should not be more than 10 kg in weight.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal15.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/roboassasin.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Robowar
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;') 
              h2.modal_heading(style="")  Introduction-
              p.modal_paragraph(style="")  Design and build a robot(s), which can entertain us homo-sapiens! Just to clear the definition of NON-CONVENTIONAL ROBOT, ANY ROBOT that does something what you think is unique, is a non-conventional robot!
              
              h2.modal_heading(style="")  GENERAL RULES- 
              p.modal_paragraph(style="") ▸The team can have a maximum of 4 members. 
              p.modal_paragraph(style="") ▸Any team that is not ready at the time specified will be disqualified from the competition automatically. 
              p.modal_paragraph(style="") ▸The judges’ decision shall be treated as final and binding on all. 
              p.modal_paragraph(style="") ▸Change in rules, if any, will be highlighted on the website and notified to the registered participants.
              
              h2.modal_heading(style="")  Event Rules-
              p.modal_paragraph(style="") ▸A team would be disqualified if any part being used is found potentially dangerous. 
              p.modal_paragraph(style="") ▸There is no time restriction while you set up the arena for your presentation. 
              p.modal_paragraph(style="") ▸In case a robot stops working or the power supply gets disconnected, then a maximum of 2 interventions would be allowed to rectify the problem (the maximum time of such interventions should not exceed 1 minute; otherwise the time would counted under participation time) OR a single restart will be allowed.
              p.modal_paragraph(style="") ▸While the robot is performing no team member is allowed to enter the arena, unless there is a problem with the robot (as mentioned above). 
              p.modal_paragraph(style="") ▸The robot(s) can be manual and/or autonomous. 
              p.modal_paragraph(style="") ▸There is no restriction on size and weight of the robot (however, it must fit within the arena).
              p.modal_paragraph(style="") ▸It can be wired or wireless.
              p.modal_paragraph(style="") ▸The bot should not damage the arena or perform dangerous tasks in any manner.
              p.modal_paragraph(style="") ▸On-board power or external power supplies are allowed, with a restriction that voltage rating should not exceed 36 volts.
              p.modal_paragraph(style="")  Weight of the bot should not exceed 35 kg. 

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal16.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/sherlock.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Sherlock And The Code
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  Introduction  
              p.modal_paragraph(style="")  It is not  "just another coding event" because it packs a punch. Coders
              p.modal_paragraph(style="")  out there, we will make you compete in a completely new realm. We will
              p.modal_paragraph(style="")  make you code in a completely new language, don’t you worry, we will
              p.modal_paragraph(style="")  give you the documentation
              
              h2.modal_heading(style="")  Event structure.
              
              p.modal_paragraph(style="")  Its is a team event. Team must contain at most 2 individuals. Duration of the event will 
              p.modal_paragraph(style="")  be 2 hours (30 minutes for reading the documentation and rest for coding). Documentation 
              p.modal_paragraph(style="")  will remain with you throughout the event. Winner will be decided on the basis of number 
              p.modal_paragraph(style="")  of question solved by the team however if there are multiple teams solving the same 
              p.modal_paragraph(style="")  number of question then time will be the tie-breaker so put on your coding hats for this 
              p.modal_paragraph(style="")  coding adventure
              
              h2.modal_heading(style="")  RULES:
              p.modal_paragraph(style="")  • No mobile phones will be allowed during the event
              p.modal_paragraph(style="")  • Decision made by judges will be treated as final
              p.modal_paragraph(style="")  • Rules could be amended by the organizers. 

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal17.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/stick_building.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Stick Build
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  INTRODUCTION: 
              p.modal_paragraph(style="")  Stick build is one of the most interesting and prominent event of metacognition 2k18. This event is basically for designing and building a structure with the raw materials provided. The event calls for teamwork, spontaneity and proper use of provided raw materials. This event is open for all those who have an unexplained passion for building.
              
              h2.modal_heading(style="")  EVENT STRUCTURE:
              p.modal_paragraph(style="")  ● Sticks, limited amount of adhesive stuff and others will be provided. 
              p.modal_paragraph(style="")  ● Only provided materials are allowed to use.
              p.modal_paragraph(style="")  ● Highest building(decided according to no. Of floors) has to be build in minimum area within given time.
              p.modal_paragraph(style="")  ● Height of floor, base area, time of event and other required dimensions are declared on the spot.
              p.modal_paragraph(style="") ● Participant's designed model will be judged according to height of model, no. Of floors, base area and strength.
              
              h2.modal_heading(style="")  RULES:
              p.modal_paragraph(style="")  ● Teams must consist of a minimum of 2 and maximum of 4 participants.
              p.modal_paragraph(style="")  ● Participants are allowed to use electronic gadgets if required.
              p.modal_paragraph(style="")  ● The decision of judges shall be final and binding.
              p.modal_paragraph(style="")  ● The rules can be changed by the coordinators at any time and accordingly you will be informed.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal18.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/sudoku.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') SUDOKU
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Introduction
              p.modal_paragraph(style="") Can't get enough of puzzles?
              p.modal_paragraph(style="") Get ready for brainstorming and use your quick wit for the puzzle. The All time classic is back.  It’s not always as easy as it sounds.
              h2.modal_heading(style="") Structure
              h2.modal_heading(style="") First round
              p.modal_paragraph(style="") Each of you would be provided with the same puzzle and time limit will be set . Participant who solve the Sudoku within the given time limit will qualify for the next round.
              h2.modal_heading(style="") Second round
              p.modal_paragraph(style="") The qualified participants will solve another Sudoku . The one who finishes first will be the winner .
              h2.modal_heading(style="") Rules
              p.modal_paragraph(style="") 1.Each horizontal row, vertical row and each box must contain digit from 1 to 9 exactly once.
              p.modal_paragraph(style="") 2.The timing for first round will be 10 minutes.
              p.modal_paragraph(style="") 3.Each solution will be checked by the coordinator.
              p.modal_paragraph(style="") 4.The coordinator's decision will be final.


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal19.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/wire_loop.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Wire Loop Game
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  EVENT STRUCTURE
              p.modal_paragraph(style="")  A wire loop game has a metal loop and it is to be taken from starting to ending point along the length of the zigzag wire. It is moved in such a way that the loop should not touch the wire. If the metal loop touches the wire, a buzzer will beep that indicates the game had lost.
              
              h2.modal_heading(style="")  RULES 
              p.modal_paragraph(style="")  1.Singe participant game. 
              p.modal_paragraph(style="")  2.There is no time limit.
              p.modal_paragraph(style="")  3.Participant should not touch any components in the circuit.
              p.modal_paragraph(style="")  4.There will be only single round, once the participant had lost the game, the game is   over

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal20.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/quiz_me.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Ex-Quiz Me
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;') 
              h2.modal_heading(style="") Heard it right! 
              p.modal_paragraph(style="") EX-quiz-me is a platform where people can flaunt their knowledge, brainstorming their mind since birth . So, if you are a book buff and has a command on it ,now it’s a time come to take ‘EX-Quiz-Me’ as a challenge. 
              p.modal_paragraph(style="") Do you think you know it all? Do you consider yourself an expert in it? So get ready, set and go and make the most of upcoming opportunity.

              h2.modal_heading(style="") EVENT STRUCTURE
              p.modal_paragraph(style="") 1.  Each student will be given a set of 30 multiple type questions.
              p.modal_paragraph(style="") 2.  +1 marks will be allotted for each correct answer and there is no negative marking.
              p.modal_paragraph(style="") 3.  Only students will be selected according to minimum time taken. 
              p.modal_paragraph(style="") 4.  The selected participants shall have to appear for the final round.
              p.modal_paragraph(style="") 5.  In round 2nd ,10 question will be asked in 100 seconds.
              p.modal_paragraph(style="") 6.   Whoever gives the maximum correct answer will be consider as winner.
              p.modal_paragraph(style="") 7.  In case of tie, master question will be asked.

              h2.modal_heading(style="") Rules
              p.modal_paragraph(style="") 1. The participants are not allowed to use mobile or other electronic gadgets.
              p.modal_paragraph(style="") 2. The questions will be in the form of single correct answer.
              p.modal_paragraph(style="") 3. Replacement of any participant is not allowed.
              p.modal_paragraph(style="") 4. Students are not allowed to flip the front side of sheet till not instructed.
              p.modal_paragraph(style="") 5. The decision of the judges would be final.


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal21.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/glass_pyramid.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Glass  Pyramid
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="")  INTRODUCTION & EVENT STRUCTURE-
              p.modal_paragraph(style="")  In this participants are supposed to build a pyramid by placing glasses on top of each other.
              
              p.modal_paragraph(style="")  Sounds very easy right??  
              
              p.modal_paragraph(style="")  But there is a twist.....
              p.modal_paragraph(style="")  The twist is that they have to do it without using your hands.That is where the balloons have to come into play. Each member had to blow the balloon in the glass and lift it with the air pressure built within the balloon.
              
              p.modal_paragraph(style="")  After the glass is placed they have to release the pressure and continue with the next one.
              
              h2.modal_heading(style="")  Rules:
              p.modal_paragraph(style="")  1.Participants cannot use  there hands.
              p.modal_paragraph(style="")  2.Participants can only use their mouth and the balloon for the task.
              p.modal_paragraph(style="")  3.The decision made by the judges will be the final decision.
              p.modal_paragraph(style="")  4.Rules can be altered.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal22.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/cs.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Counter Strike
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Game Version:- 
              h2.modal_heading(style="") COUNTER-STRIKE:- GLOBAL OFFENSIVE
              h2.modal_heading(style="") Game Type: 
              p.modal_paragraph(style="") Competitive

              h2.modal_heading(style="") Maps:- 
              p.modal_paragraph(style="") Dust2, Inferno, Nuke, Train, Mirage, Cobblestone, Overpass

              h2.modal_heading(style="") Guns Banned:-
              p.modal_paragraph(style="") P90

              h2.modal_heading(style="") Mapchoice Qualifiers 
              h3.modal_heading(style="") Best-of-One Matches 
              p.modal_paragraph(style="") In case of Best-of-One matches, both teams remove maps alternatively until one map is left which will be played. The team with the lower seeding has to start to remove the first map. A kniferound will be played to decide starting sides. 
              h3.modal_heading(style="") Best-of-Three Matches 
              p.modal_paragraph(style="") In case of Best-of-Three matches, both teams remove one map alternatively, after that each team will pick one map. The team with the lower seeding has to start to remove the first map. To decide the last maps both teams once again remove one map alternatively, the last map will be used as third map if needed. A kniferound will be played to decide starting sides on all maps.   

              h2.modal_heading(style="") Mapchoice Main Event 
              h3.modal_heading(style="") Best-of-One Matches 
              p.modal_paragraph(style="") In case of Best-of-One matches, both teams remove maps alternatively until three maps are left. FRAG will then randomly pick one of the three remaining maps to be played. Better seed can decide who has to start the veto process. The team who started the veto can also pick the starting side on the map. 
              h3.modal_heading(style="") Best-of-Three Matches 
              p.modal_paragraph(style="") In case of Best-of-Three matches, both teams remove one map alternatively, after that each team will pick one map. FRAG will then randomly pick one of the three remaining maps to be played as third map. Better seed can decide who has to start the veto/pick process. A team can always pick the starting side on the map of the opponent, if needed a coin toss will decide who can pick the starting side on the third map.  
                
              h2.modal_heading(style="") Number of Players
              p.modal_paragraph(style="") All matches have to be played with five players per team (5vs5), other constellations are not allowed. If a team fails to show up with enough players, the match will count as no-show and will be forfeited.  
              
              h2.modal_heading(style="") Dropping of Players 
              p.modal_paragraph(style="") If a player drops before the first kill in the first round of a half, then the half will be restarted. If a player drops after the first kill have been made and has not returned when the round have been decided, then the match will be paused at the end of the round/start of the next round. If the player have not returned, or cannot be replaced within 10 minutes after the pause has started, then the team with the dropped player may forfeit the match at admins discretion.
              
              h2.modal_heading(style="") Change of Players
              p.modal_paragraph(style="") Players can be changed at any time but the opposing team has to be informed in advance. If necessary the game can be paused (see rule Usage of Pause function). This change may not take more than 5 minutes. If the player have not joined, or cannot be replaced within 5 minutes after the pause has started, then the team with the dropped player may forfeit the match at admins discretion. 
              
              h2.modal_heading(style="") Leaving the Server
              p.modal_paragraph(style="") All matches must be played to the end, failure to do so will be penalized. A match is considered complete when one team has reached 16 rounds on the final map.
              
              h2.modal_heading(style="") Continuing a Disrupted Game
              p.modal_paragraph(style="") If a match is interrupted (e.g. server crash) within the first three rounds of play, then the match should be restarted, if the match is interrupted after the first three rounds of play then the match should be continued where it left off, with these changes in the configuration. • mp_startmoney should be set to 5000 for the rest of the half • The rest of the rounds that have not been played should be played.  
              p.modal_paragraph(style="") However, if the match will be played on an official FRAG server the admin can decide to continue the match by using the backup files provided by the game instead of using the above mentioned way.  
             
              h2.modal_heading(style="") Overtime 
              p.modal_paragraph(style="") In case of a draw after all 30 rounds have been played, an overtime will be played with mp_maxrounds 6 and mp_startmoney 10000. For the start of the overtime teams will stay on the side which they played the previous half on, during half-time sites will be swapped. Teams will continue to play overtimes until a winner has been found. 
              
              h2.modal_heading(style="") Usage of pause function 
              p.modal_paragraph(style="") If a player has a problem that prevents him from playing on, he is allowed to use the pause function. The pause function has to be used at the beginning of the next round (during the freeze time). The player has to announce the reason before or immediately after he paused the match. If no reason is given, the opponent may unpause the game and continue playing. Unpausing or pausing the game without any reason will lead to penalty points


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal23.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/fifa.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') FIFA '18
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Controller Settings
              p.modal_paragraph(style="") Players are responsible for ensuring that their controller configuration is correct at all times.
              
              h2.modal_heading(style="") Match Settings
              h3.modal_heading(style="") All matches are to be played using the following settings:
              p.modal_paragraph(style="") Game Settings
              p.modal_paragraph(style="") Game Type 1vs1 (knockouts)
              p.modal_paragraph(style="") Half Length 6 Minutes
              p.modal_paragraph(style="") Difficulty Level  LEGENDARY
              p.modal_paragraph(style="") Referee Random
              p.modal_paragraph(style="") Time of Day Day
              p.modal_paragraph(style="") Weather Dry
              p.modal_paragraph(style="") Game Speed  Normal
              p.modal_paragraph(style="") Ball  Default
              
              h2.modal_heading(style="") Rules
              p.modal_paragraph(style="") Injuries  Off
              p.modal_paragraph(style="") Offsides  On
              p.modal_paragraph(style="") Bookings  On
              p.modal_paragraph(style="") Handball  Off
              p.modal_paragraph(style="") Restrictions
              
              h2.modal_heading(style="") Team Restrictions
              p.modal_paragraph(style="") • Players can use any club or national team.
              p.modal_paragraph(style="") • Players cannot use any custom made teams (e.g. Classic XI).
              p.modal_paragraph(style="") • Players can't swap teams at any point during the tournament.
              
              h2.modal_heading(style="") Formation Restrictions
              p.modal_paragraph(style="") • Players can only use default formations.
              p.modal_paragraph(style="") • Players cannot use custom formations.
              p.modal_paragraph(style="") • Players can use custom tactics.

              p.modal_paragraph(style="") Players have four (4) minutes to prepare their tactics at the start of a match. Subsequent changes are time limited to thirty (30) seconds per change.
              p.modal_paragraph(style="") Players who start with four (4) players in defence and then go ahead or equalise in a game are not allowed to then immediately change their formation to five (5) in defence and lock down the game - this is against the spirit of the tournament.

              h2.modal_heading(style="") Etiquette and Forbidden Moves
              p.modal_paragraph(style="") • Players must kick-off with a backward pass at the beginning of each half and after every goal.
              p.modal_paragraph(style="") • Players are not allowed to score goals from within their own half.
              p.modal_paragraph(style="") • No air balls and legacy defending will be allowed. 
              p.modal_paragraph(style="") • Players wishing to make substitutions or alter free-kick options must wait until the ball is out of play before making any changes.
              p.modal_paragraph(style="") • Players must not pause the game when the ball is in play.
              p.modal_paragraph(style="") • Players must not keep the ball in defence by passing it around (i.e. time wasting).
              p.modal_paragraph(style="") • Players are not permitted to take control of the goalkeeper in order to make the AI take control of the defence.
              p.modal_paragraph(style="") • Utilisation of game play aspects widely regarded as providing an unfair advantage or bad sportsmanship will not be tolerated. Any player found to be using these or unsporting behaviour will be removed from the tournament.


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal24.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/nfs.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Need For Speed
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Game Version: NFS Most Wanted 1.3
              
              h2.modal_heading(style="") Game Type: Circuit/Sprint
              p.modal_paragraph(style="") • Participants Controllers, Steering Wheel allowed.
              p.modal_paragraph(style="") • At the end of each match, players must maintain the final screens and receive confirmation from a referee.
              p.modal_paragraph(style="") • Winning a race: The winner of a race is the first player to finish 1st in sprint or 3 laps of the circuit course and cross the finish line.
              p.modal_paragraph(style="") • A participant will be informed about the exact time of their match when they report.
              p.modal_paragraph(style="") • A participant has to report at the Venue with respect to the scheduled time table.
              p.modal_paragraph(style="") • No participant shall be allowed to participate if he/she does not report to the organizing authority within their reporting time.
              p.modal_paragraph(style="") • A participant might have to wait for a maximum of 2 hours before his/her round begins.
              p.modal_paragraph(style="") • If a participant is found missing before the round then the opponent shall be awarded a walkover to the next round.
              p.modal_paragraph(style="") • No participant shall be allowed to participate in a round after the round finished.
              p.modal_paragraph(style="") • Only USB devices shall be allowed to be connected. NO PS2 devices allowed.
              p.modal_paragraph(style="") • No headphones shall be provided. Please bring your own headphones if necessary.
              p.modal_paragraph(style="") • Again a referee’s decision has to be accepted by the participants and no arguments shall be accepted.
              p.modal_paragraph(style="") • Only USB Pen-Drive is allowed for copying setup files of GamePads. (NO CD-ROM Drive available).
              p.modal_paragraph(style="") • If a gamer has registered in more than one game, then it’s up to the sole discretion of the committee to disqualify him/her from any of the games in case of a time clash.
              
              h2.modal_heading(style="") Car Settings:
              p.modal_paragraph(style="") • Visual Upgrade allowed.
              p.modal_paragraph(style="") • Part, Performance (Pro, Super Pro, Ultimate)allowed, Junkman not allowed.
              p.modal_paragraph(style="") • Personal save files are NOT allowed.
              p.modal_paragraph(style="") • Cars may be tuned before racing each course.
              
              h2.modal_heading(style="") Game Settings:
              p.modal_paragraph(style="") Courses : Diamond, Dunwich Bay, Heritage Heights, Bay Bridge, East Park
              
              p.modal_paragraph(style="") The Course selection may be changed prior to the tournament. Players will be informed of any such changes before the tournament.
              p.modal_paragraph(style="") • Race Mode Options : Circuit/Sprint
              p.modal_paragraph(style="") • Track Direction : Forward
              p.modal_paragraph(style="") • LAPS : 3
              p.modal_paragraph(style="") • N20 : On
              p.modal_paragraph(style="") • Collision Detection : Off
              p.modal_paragraph(style="") • Performance Matching : On
              p.modal_paragraph(style="") • Min Num. Players : 2
              
              h2.modal_heading(style="") Player Options:
              p.modal_paragraph(style="") • Game Moment Camera : Off
              p.modal_paragraph(style="") • Car Damage : Off
              p.modal_paragraph(style="") • Rearview Mirror: Player's own discretion
              p.modal_paragraph(style="") • Units : Player’s own discretion
              
              h2.modal_heading(style="") Basic Round:
              p.modal_paragraph(style="") • In this round sprint & circuit races will be played.
              p.modal_paragraph(style="") • Four participants will be competing in this round. 3)
              p.modal_paragraph(style="") • With this process 1 participant will be the winner after the race and will be advanced to next round.
              
              h2.modal_heading(style="") Advance Rounds:
              p.modal_paragraph(style="") • In these rounds there will be 1 race between each of the 4 participants.
              p.modal_paragraph(style="") • Four participants will be competing in this round.
              p.modal_paragraph(style="") • The race will be sprint or the circuit depending upon the stuation.
              p.modal_paragraph(style="") • The participants winning the race will be in the semi final.
              p.modal_paragraph(style="") • This process will be continued until we get top 16 participants.
              
              h2.modal_heading(style="") Semi Finals:
              p.modal_paragraph(style="") • In semi finals there will be 2 races ammoung the 8 participants.
              p.modal_paragraph(style="") • Eight participants will be competing in this round.
              p.modal_paragraph(style="") • At the end of the race the participant standing in 1st and 2nd position will be qualified for the final round.
              
              h2.modal_heading(style="") Finals:
              p.modal_paragraph(style="") • In finals there will be 1 race between participants.
              p.modal_paragraph(style="") • Four participants will be competing in this round 3.
              p.modal_paragraph(style="") • The loop for this race will be NFS World Loop.
              
              h2.modal_heading(style="") Disconnect:
              p.modal_paragraph(style="") • Disconnection: Any disconnection of the connection between match players due to System, Network, PC, and/or Power problems/issues
              p.modal_paragraph(style="") • Intentional Disconnection: Upon judgment by the referee, any offending player will be charged with a loss by forfeit
              p.modal_paragraph(style="") • When any disconnection occurs:
              p.modal_paragraph(style="") • If the disconnection is deemed to be unintentional by the referee, the match will be restarted. If any player does not agree to a match restart, that player will lose by default.
              
              h2.modal_heading(style="") Penalty for Unfair Play
              p.modal_paragraph(style="") • Unfair play
              p.modal_paragraph(style="") • Use of any cheat program
              p.modal_paragraph(style="") • Intentional disconnection
              p.modal_paragraph(style="") • Use of any settings exceeding standard and permitted settings
              p.modal_paragraph(style="") • If the match is disrupted due to unnecessary chatting, the player may be given a warning or lose by default at the referee’s sole discretion.
              p.modal_paragraph(style="") • Upon discovery of any player committing any violations regarded as unfair play, that player will be disqualified from the tournament.
              p.modal_paragraph(style="") • During the course of any match, the operations staff and/or referee may determine other actions to be unfair play at any time.
              p.modal_paragraph(style="") • Two warnings constitute being disqualified from the tournament.
      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal25.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') The Tech Designers
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Event Description:
              p.modal_paragraph(style="") Do you really bragg about your aided graphical skills,you really think you are an efficient and a smart designer, so it’s a better time to prove your skills but its not only a game of skills, its about how fast you can design.

              h2.modal_heading(style="") Rules and Regulations:
              p.modal_paragraph(style="") 1.You would be given a design in two levels.
              p.modal_paragraph(style="") 2.The platform given would be AUTOCAD.
              p.modal_paragraph(style="") 3.The level 1 comprises of a design or a task that has to be completed in a given time. Failing prompt will make you disqualified.
              p.modal_paragraph(style="") 4.The 2 level comprises of a given design task, the one who does it first appears to be our winner for sure.
              p.modal_paragraph(style="")  5.Any cheating or misconduct would lead to disqualification.

              h2.modal_heading(style="") Event Coordinator: 
              p.modal_paragraph(style="") Vijayant Singh (8563865908)


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal26.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Funk From Junk
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_paragraph(style="") Description -
              p.modal_paragraph(style="") Well it's the era of recycling and making better from the best. So, it holds the best in our Metacognition, were we aim to build a better future by working with world's next tech minds!!!! Introducing an all new event FUNK FROM JUNK where participants will be given 30 minutes to collect the junk from the college campus. In next 1 hour they need to make a selling product from that junk or something useful. It can be a toy, jewelry, home decor, something technical or something that can be purchased.
              p.modal_paragraph(style="") The list is endless. Later, the jury decides the winner.

              h2.modal_paragraph(style="") Skills - 
              p.modal_paragraph(style="") Participants will have to use their technical and creative mind and make something useful with the resources provided to them.

              h2.modal_paragraph(style="") Rules - 
              p.modal_paragraph(style="") 1- Number of team members per team will be 2-3.
              p.modal_paragraph(style="") 2- No team will be allowed to use their own items except the junk or materials we provide.
              p.modal_paragraph(style="") 3- Any team found of using any other items except the ones we provide will be disqualified.
              p.modal_paragraph(style="") 4- The teams will only use the junk from that part of the college where we send them. If they use any other items which they find in any other part of the college, they will be disqualified. 

              h2.modal_paragraph(style="") Coordinator: 
              p.modal_paragraph(style="") Kshitij Bhatnagar: 9889765342



      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal27.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Funk With You
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Introduction- 
              p.modal_paragraph(style="") We all think we share a good connection with our friend. Can you do some task with each other's co-ordination ? Come as a team and find out.
               
              h2.modal_heading(style="") Event Structure
              p.modal_paragraph(style="") First round- Do the task as your partner guides you when you are blindfolded.
               
              p.modal_paragraph(style="") 2nd round- Guess what your partner is trying to say without directly saying it. That will decide how good you are to understand each other.
               
              p.modal_paragraph(style="") 3rd round-Now time to check your coordination with your partner. Do the given task in certain time limit.
               
              h2.modal_heading(style="") Problem solving
              p.modal_paragraph(style="") 1. In the first round one will be blindfolded and the other person will give directions vocally, standing at one  place without any movement.
              p.modal_paragraph(style="") 2. In the second round the person will explain the movie name without speaking. 
              p.modal_paragraph(style="") 3. You can pick only one object at a time and come back to get another one only if s/he has handed the object to the second person. The second person too cannot take more than one object at a time.
               
               
              h2.modal_heading(style="") Rules-
              p.modal_paragraph(style="") 1. At least two persons are required in the team.
              p.modal_paragraph(style="") 2. Participant will not allowed to take help from anyone. If found using any wrong method, the team will be disqualified. 
              p.modal_paragraph(style="") 3.The person doing the tasks can not speak to his/her partner during the task or this shall lead to disqualification.
              p.modal_paragraph(style="") 4. The decision made by the coordinator will be final.
              p.modal_paragraph(style="") 5. Rules can be changed anytime during the event.

      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal28.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Code.j
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              
              p.modal_paragraph(style="") At Metacognition 4, we bring to you java jargons !!!! Show your coding talent in Java and show that you are the ultimate code master! Are you ready for the battle ?


              h2.modal_heading(style="") Skills required – 
              p.modal_paragraph(style="") Basic knowledge of java.


              h2.modal_heading(style="") Rules and Scoring-

              p.modal_paragraph(style="") •The event involves two rounds. 

              p.modal_paragraph(style="") •The first round will be a MCQ. 

              p.modal_paragraph(style="") •Whoever qualifies this round will go to next level which is based on coding.

              p.modal_paragraph(style="") •This round is basically a rapid fire round where we will give certain programs and the participants have to write their main part of the programs in minimum time.

              p.modal_paragraph(style="") •The participant who will complete maximum number codes will be the winner.



      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal29.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Rubiks cube
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              
              h2.modal_heading(style="") DESCRIPTION - 
              p.modal_paragraph(style="") “If you are curious, you’ll find the puzzles around you. If you are determined, you will solve them. ”
              p.modal_pargraph(style="") & Now it's time to solve those puzzles  by your fingers i.e.
              h2.modal_heading(style="") "THE RUBIC CUBE"
              p.modal_paragraph(style="") We are organising RUBIC CUBE EVENT for you. come and show the MAGICAL MOVEMENTS of your fingers on the MAGICAL CUBE .And be the MAGICIAN of the RUBICS  CUBE. 
              h2.modal_heading(style="") SKILLS REQUIRED- 
              p.modal_paragraph(style="") Able to solve the rubics cube
              h2.modal_heading(style="") RULES -
              p.modal_paragraph(style="") 1.There are three rounds in game 
              p.modal_paragraph(style="") 2. one side color matching 
              p.modal_paragraph(style="") 3.6 sides color matching 
              p.modal_paragraph(style="") 4.We give a design, and participates make it. 
              p.modal_paragraph(style="") 5.We take average time of all three rounds for deciding the final results.
              h2.modal_heading(style="") EVENT COORDINATOR -  
              p.modal_paragraph(style="") ABDUL AJIJ ANSARI
              p.modal_paragraph(style="") 9670702235



      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal30.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Clash Of Clans
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Description- 
              p.modal_paragraph(style="") Team Enthiran welcomes all the clash fans to Clash Of Clans. If you think that your clan is the best the Metacognition 2k18 is where you should be.
              h2.modal_heading(style="") Event Rules : 
              p.modal_paragraph(style="") 1.  No. of teams – 16 (may vary depending upon entries)
              p.modal_paragraph(style="") 2.  No. of players in a team – 5
              p.modal_paragraph(style="") 3.  The team of 5 must contain exactly 2 th10s and 3 th9s.
              p.modal_paragraph(style="") 4.  Format – Knockout
              p.modal_paragraph(style="") 5.  Event will be based on friendly war feature.
              p.modal_paragraph(style="") 6.  Townhall levels – 10 and 9 only
              p.modal_paragraph(style="") 7.  In game preparation time – 30 minutes
              p.modal_paragraph(style="") 8.  Battle time – 1 hour
              p.modal_paragraph(style="") 9.  Use of power potion is prohibited.
              p.modal_paragraph(style="") 10. Each team will be allowed a maximum of 6 attacks however no player will be allowed to repeat his attack before each player of the team has attacked once.
              p.modal_paragraph(style="") 11. The players must bring their own teams 
              p.modal_paragraph(style="") 12. Winner will be decided on the following factors (mentioned according to preference) :
              p.modal_paragraph(style="") a.  Number of stars per team
              p.modal_paragraph(style="") b.  Destruction percentage
              p.modal_paragraph(style="") c.  Tiebreaker round – This round is based on friendly challenge. The teams will nominate any one th9 player who will have to attack #1 th10 player of the opponent team.
              p.modal_paragraph(style="") (Each th10 player must have atleast one base ready to put up for friendly challenge failing to do which the team will be liable for disqualification)
              h2.modal_heading(style="")  Requirements :
              p.modal_paragraph(style="") a.  Clash of clans game
              p.modal_paragraph(style="") b.   Players must bring their own internet connection. (The organisers will not be responsible for connection loss.)
              p.modal_paragraph(style="") c.  Players must ensure that their mobile device is charged. Chargers will not be provided.
              p.modal_paragraph(style="") 14. The organisers reserve the right to change/modify the rules.

              p.modal_paragraph(style="") 0rganisers :- Whatsapp Contact No.
              p.modal_paragraph(style="") Kushagra Srivastava. 7905297847
              p.modal_paragraph(style="") Pushpit Mathur. 9891011173
              p.modal_paragraph(style="") Srijan Barnwal. 7275484362
 
           


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal31.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Treasure Hunt
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") Introduction : 
              p.modal_paragraph(style="") Experience thrill originating from the heart of Technology. This time it's gonna be full of brainstorming tech,codes,ciphers and all that it needs to open up your minds for Metacognition!
              h2.modal_heading(style="") Event Description :

              p.modal_paragraph(style="") Treasure hunt is a Multi-Level intensive search for a Hidden Treasure(You know it when you see it!) followed by a trail of clues.
              p.modal_paragraph(style="") It is going to be a 3 round event. Knockouts will be done after each round. Rounds will be testing your very basic technical knowledge and cognitive skills. 
              p.modal_paragraph(style="") Come prepared with all that you've seen,heard and been taught about so far. 
              p.modal_paragraph(style="") Amazements and Tittilations await you there! 

              h2.modal_heading(style="") * Teams made up , Traps laid down and the Hunt begins! 
           


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close
#modal32.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', style="padding: 0 20px;") ×
      .modal-body
        .row(style='background-color: ; margin: 0 auto; max-height: 750px; overflow-y: scroll;')
          .col-lg-5.col-md-5.col-sm-12(style='background-color: ;')
            img.img-responsive(src='images/noimage.png', width="85%",style="margin: 0 auto;")
            h1(align='center', style='color: white;') Infotra 2k18
          .col-lg-7.col-md-7.col-sm-12(style='padding: ;font-size:50px;')
            div(style='max-width: 800px; margin: 0 auto; background-color: ;')
              h2.modal_heading(style="") EVENT DESCRIPTION
              p.modal_paragraph(style="") Computers are some of the most versatile tools that we have available. They can perform stunning feats of computation, they allow information to be exchanged easily regardless of their physical lacation, they simplify many every-day tasks, and thet allow us to automate many processes that woukd be tedious or boring to perform otherwise.

              h2.modal_heading(style="") Our event comprises of two rounds: 
              p.modal_paragraph(style="") 1. LOGICAL QUIZ (round 1):
              p.modal_paragraph(style="") Twenty questions based on c++ and c programming. The questions would contain topics such as simple loops, GK(info on the language) and outputs. The given time would be 15 min.
              p.modal_paragraph(style="") 2. DEBUGGING (round 2 and round 3):
              p.modal_paragraph(style="") Round 2 will comprise of 20 questions and the given time would be 15 min.
              p.modal_paragraph(style="") Round 3 will comprise of 10 questions and the given time would be 10 min.

              h2.modal_heading(style="") RULES
              p.modal_paragraph(style="") 1. Single participants are allowed
              p.modal_paragraph(style="") 2. No use of mobile phones and internet is allowed.
              p.modal_paragraph(style="") 3. Solutions of the questions will be given once the time is up.
              p.modal_paragraph(style="") 4. Noextra time woukd be provided.
              p.modal_paragraph(style="") 5. Proper instructions before the commencement of the event.
              p.modal_paragraph(style="") 6, In case of any discripancy the decision of the evnet orgaiser will be final.
              h2.modal_heading(style="") REQUIREMENTS:
              p.modal_paragraph(style="") 1. Pen and Paper
              p.modal_paragraph(style="") 2. Printouts (one question paper would be given by us)
              p.modal_paragraph(style="") 3. Stopwatch 
           


      .modal-footer
        .row('background-color: red;')
          button.btn.btn-default(type='button', data-dismiss='modal') Close



