section#about
  h1(style='font-family: anson; font-size:50px;')  About Metacognition
  p(style="font-family: 'Lato', sans-serif; text-transform: none;")
    | Metacognition 2018, the technical fiesta of Galgotias College
    | of Engineering and Technology is a collaboration of cognitive minds coming together and preparing a platform for budding technocrats to show their mettle and sparkle with their awe-inspiring innovative ideas and research oriented talents. Held annually at the institution, this year it's bigger than it has ever been and while much of the festival has evolutionized, the idea remains to ideate.
    | The motto remains too, and along with it the legacy in which we invite everyone to be a part of. So rewire your robots, setup your devices and place a pin on the calendar for what will be one of the most memorable technical journeys of your life.
