footer#myFooter(style='background-color:#0F1D42;padding:0 10% 0 10%;')
  .container-fluid(style='padding-top:50px;')
    .col-md-4(style='')
      center
        a(href='#')
          img.img-responsive(src='images/i.PNG')
    .col-md-8(style='margin-bottom:0; background-color: ;')
      .row(style='padding-top:50px; padding-left:10px :padding-right:500px;')
        .col-md-2.footer_links
          center
            a(href='index.html', style='font-size:12px;')
              | HOME
        .col-md-2.footer_links
          center
            a(href='event.html', style='font-size:12px;')
              | EVENTS
        .col-md-2.footer_links
          center
            a(href='sponsor.html', style='font-size:12px;')
              | SPONSORS
        .col-md-2.footer_links
          center
            a(href='gallery.html', style='font-size:12px;')
              | GALLERY
        .col-md-2.footer_links
          center
            a(href='support.html', style='font-size:12px;')
              | SUPPORT
        .col-md-2.footer_links
          center
            a(href='alumni.html', style='font-size:12px;')
              | ALUMNI
      .social-networks.row(style=' background-color: ; display:inline-block; margin:0; padding:0;position:relative; top:-50px;')
        a.facebook(href='https://www.facebook.com/teamenthiran/', target='blank_')
          i.fa.fa-facebook(style='font-size:70%')
        a.google(href='#')
          i.fa.fa-google-plus(style='font-size:70%')
        a.instagram(href='#')
          i.fa.fa-instagram(style='font-size:70%')
        p(style='display:block;font-size:85%') Copyright © 2017 Metacognition
