section#sponsersbg
  .row(style='min-height:400px;text-align:center;padding:50px 0;')
    .col-md-12(style='padding:;')
      p(style='font-family:anson; font-size:50px; font-weight:bold') Sponsors
    #sponsor_main_page_div.col-md-12(style=' ')
      .col-md-2.sponsor_logo(style='')
        a(href='http://universityinnovationfellows.org/', target='_blank')
          img(src='images/uif.jpg')
        h3 Stanford University
      .col-md-2.sponsor_logo
        a(href='http://www.dhyeyaias.com/', target='_blank')
          img(src='images/dhyey.jpeg', style='')
        h3 Dhyey IAS
      .col-md-2.sponsor_logo
        a(href='http://www.appughargurugram.com/', target='_blank')
          img(src='images/appu.jpeg')
        h3 Appu Ghar
      .col-md-2.sponsor_logo
        a(href='http://aptronnoida.in/', target='_blank')
          img(src='images/aptron.jpeg')
        h3 Aptron
      .col-md-2.sponsor_logo
        a(href='https://www.worldsofwonder.in/', target='_blank')
          img(src='images/wow.jpeg')
        h3 Worlds Of Wonder
      .col-md-2.sponsor_logo
        a(href='sponsor.html')
          img(src='images/more.png')
        h3 More...
