
.row#1_max_height(style='background-color: ; margin: 70px 0 0 0;')
  .col-md-4.col-md-offset-1.col-sm-6.col-xs-12(style='background-color: #EDEDEE; border-radius: 50% 0 0 50%')
    img(src="images/t1.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
  .col-md-6.col-sm-6.col-xs-12#1_set_height.mid(style='background-color: #EDEDEE;')
    p.team_leader_name(style=" padding: 10px; background-color: transparent; color: rgb(11%, 9%, 27%);")
      | Vinnie Khanna Mathur
      br
      span.team_leader_designation
        | Director Of Student Affairs
    
.row#2_max_height(style='background-color: ; margin: 70px 0 0 0')
  .col-md-4.col-md-offset-1.col-sm-6.col-xs-12(style='background-color: #EDEDEE; border-radius: 50% 0 0 50%')
    img(src="images/t2.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
  .col-md-6.col-sm-12#2_set_height.mid(style='background-color: #EDEDEE;')
    p.team_leader_name(style=" padding: 10px;  background-color: transparent; color: rgb(11%, 9%, 27%);")
      | Rajeev Sharma
      br
      span.team_leader_designation
        | Convener

.row#2_max_height(style='margin: 70px 0 0 0; padding: 20px 50px;')
  .col-md-6.col-sm-12(style='border: none; border-radius:0 ;')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/ria1.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Ria Singh
          br
          span.team_leader_designation
            | Head

  .col-md-6.col-sm-12.image(style=' border-radius: 50% 0 0 50%')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/rajat.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Rajat Kumar
          br
          span.team_leader_designation
            | Head

.row#2_max_height(style='margin: 70px 0 0 0; padding: 20px 50px;')
  .col-md-6.col-sm-12(style='border: none; border-radius:0 ;')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/pranshu.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Pranshu Shukla
          br
          span.team_leader_designation
            | Marketing Guru

  .col-md-6.col-sm-12.image(style=' border-radius: 50% 0 0 50%')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/kushagra.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Kushagra
          br
          span.team_leader_designation
            | Code Master

.row#2_max_height(style='margin: 70px 0 0 0; padding: 20px 50px;')
  .col-md-6.col-sm-12(style='border: none; border-radius:0 ;')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/satyam.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Satyam
          br
          span.team_leader_designation
            | Mr. Savior

  .col-md-6.col-sm-12.image(style=' border-radius: 50% 0 0 50%')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/team_eventcoordination.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Shaurya && Pratibha
          br
          span.team_leader_designation
            | Event Coordination



.row#2_max_height(style='margin: 70px 0 0 0; padding: 20px 50px;')
  .col-md-6.col-sm-12(style='border: none; border-radius:0 ;')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/team_marketing.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Shlok && Akshit
          br
          span.team_leader_designation
            | Marketing

  .col-md-6.col-sm-12.image(style=' border-radius: 50% 0 0 50%')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/team_coders.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Deep && Kshitij
          br
          span.team_leader_designation
            | Developers

.row#2_max_height(style='margin: 70px 0 0 0; padding: 20px 50px;')
  .col-md-6.col-sm-12(style='border: none; border-radius:0 ;')
    .row.mid(style='padding: ;')
      div.team_member_img_div(style=" border-radius: 50% 50% 0 0;")
        img(src="images/decoration.jpg", width="100%", style="border: 5px solid red; border-radius: 50%")
    .row
      center
        p.team_leader_name(style=" padding: 10px;")
          | Chhavi && Pihu
          br
          span.team_leader_designation
            | Creative




script.
  $(document).ready(function(){

  function set_equal_height(max_height, set_height){
    max_height = $(max_height).css("height")
    $(set_height).css("height", max_height)
  }

  set_equal_height("#1_max_height", "#1_set_height");
  set_equal_height("#2_max_height", "#2_set_height");
  //set_equal_height("#_max_height", "#_set_height");


  });
