@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Sedgwick+Ave+Display');
/* ==================
 *
 *google fonts 
 *
 *===================*/

/* ==================
 *
 *var section 
 *
 *===================*/
/*****  font size  ******/
/*****  Colors  ******/
/* ==================
 *
 *	Reset Class Css
 *
 *===================*/
 @font-face 
 {
		    font-family: anson;
		    src: url("../Font/Anson-Regular.otf");
}
@font-face 
{
    font-family:Pirulen;
    src:url('../Font/pirulen rg.ttf');
}
body {
  line-height: 24px;
  font-size: 14px;
  color: #80d6a3;
  font-weight: 400;
  color: #444;
  font-family:anson, sans-serif;
  background-color:rgba(6,1,42,1);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
  font-family:Pirulen;
}
h4 {
  font-size: 16px;
}
p {
  margin: 0px;
  font-size:50px;
}
h1,h2,h4,h5,h6,p {
  font-family: anson, sans-serif;
  margin: 0px;
  color:white;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
/* ==================
 *
 *  Global Class 
 *
 *===================*/
.btn 
{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px 25px;
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.title {
  text-align: center;
  padding-bottom: 40px;
}
.title h2 {
  color:white;
  font-size: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    left: -50px;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}
#mixed-items .mix {
  display: none;
}
/* animation keyfrem */
@-webkit-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-moz-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-o-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
/* ==================
 *
 *  section Class 
 *
 *===================*/
/* header style */
header {
  padding: 20px 0;
  background: #fff;
}
header .navbar {
  height: auto;
  margin-bottom: 0;
}
.is-sticky #navigation {
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
.navbar-brand {
  padding: 0;
  height: auto;
}
.navbar-toggle {
  border-color: #333;
  transition: 0.3s;
}
.navbar-toggle .icon-bar {
  background: #333;
  transition: 0.3s;
}
.navbar-toggle:hover {
  border-color: #80d6a3;
}
.navbar-toggle:hover .icon-bar {
  background: #80d6a3;
}
.menu a {
  color: #333;
  transition: 0.3s;
  position: relative;
  font-size: 16px;
}
.menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 0;
  height: 1px;
  background: #80d6a3;
  transition: 0.3s;
}
.menu a:hover {
  background: transparent;
  color: #80d6a3;
}

.menu .active a {
  color: #80d6a3;
}

.menu .active a:before{
  width: 25px;
}

.menu a:hover:before {
  width: 25px;
}
/* =================
   Home page style
   ================= */

#team {
  padding: 50px 0 40px;
}
#team .block {
  position: relative;
  overflow: hidden;
  border:1px solid transparent;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}
#team .block img {
  width: 100%;
  height:300px;
  position: relative;
}

#team .block:hover {
  border: 1px solid red;

}
#team .block:hover .team-overlay {
  bottom: 0;
  opacity: 1;
}
#team .team-overlay {
  background-image:url('../img/mlogo1.png');
  background-size:100% 60%;
  background-position:right;
  background-repeat:no-repeat;
  background-color:rgba(255,255,255,.5);
  color: red;
  text-align: center;
  padding: 48px 62px;
  position: absolute;
  bottom: -150px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  
  transition: 0.3s;
}
#team .team-overlay h3,
#team .team-overlay span {
  color:black;
}
#team .team-overlay span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
}
#team .team-overlay .icon {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 100%;
  display: inline-block;
  background: red;
}
#team .team-overlay .icon i {
  font-size: 18px;
  color: #fff;
}
#team .team-overlay p {
  font-size: 18px;
  line-height: 23px;
  color: white;
  
}
#team .team-overlay .media {
  margin-top: 10px;
}
#team .team-overlay .media a {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  margin: 0 10px;
}
#team .team-overlay .media a:hover {
  color: #80d6a3;
}
